body{
    
    margin: 0;
    padding: 0;
    background-color:rgb(251, 250, 247);
    user-select:none;
   
    
}

 {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#nav{

    
    background-color: hsla(14, 97%, 57%, 0.809);
    background-color:;
    width: 100%;
    height: 60px;
    border:none;
}

#img{
    
    position: absolute;
    top: 150px;
    right: 5px;

    height: 1000px;
}
#nameContent{
    
    top: 200px;
    position: absolute;
    left: 250px;
    font-family: "Poppins", sans-serif;
  
    font-size: 2rem;
}
img{
    animation: appear linear;
    animation-duration: 0.8s;
    width: 800px;
    height: 750px;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
#frontabt{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    right: 70px;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding:30px;
    animation: webd linear;
    animation-duration: 1s;
    background-color: hsla(14, 93%, 57%, 0.809);
}
#abtp{

    /* animation: webd linear;
    animation-duration: 1s; */
}

@keyframes webd {
    from{
        opacity: 0;
        transform: translateY(300px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
#navItem{
    position: absolute;
    right: 10px;
}
#navItem button{
    
    background-color: transparent;
    color: white;
    margin: 20px 5px 0px ;
    border: none;
    font-size: large;
    cursor: pointer;
   
}

#navItem button:hover{
  
    opacity: 0.5;
    border-radius: 5px;
 color:bisque;
    border: 1px solid white;
}

#name{
    white-space: nowrap;
    overflow:hidden;
    border-right:5px solid black;
    width: 68%;
    animation: 
    typing 1.5s steps(11),
    cursor 2.8s   ;
    animation-fill-mode: forwards;
}

@keyframes cursor {
    50%{
        border-color: black;
    }
     100% { border-color: transparent;} 

    
}

@keyframes typing {
    from { width: 0; border-color: transparent;}
    
    
}

#About{
    font-family: "Poppins", sans-serif;
    background-color:rgb(251, 250, 247);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: absolute;
    top: 930px;
    width: 100%;
   
    height:1100px;
}

#abtimg{
    top: 300px;
    position: absolute;
    right: 100px;
    width: 500px;
    height: 500px;
}

#abtcontent{
    width: 700px;
    margin-top: 100px;
    margin-left: 100px;
}

html{
    scroll-behavior: smooth;
}