body{
    margin: 0;
    padding: 0;
    /* background-color:rgb(251, 250, 247); */
    background-color: black;
}

 {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

#nav{
    background-color: rgb(47, 47, 246);
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

#img{
    position: absolute;
    top: 150px;
    right: 5px;

    height: 1000px;
}
#nameContent{
    top: 200px;
    position: absolute;
    left: 250px;
    font-family: "Poppins", sans-serif;
  
    font-size: 2rem;
}
img{
    width: 800px;
    height: 750px;
}

#navItem{
    position: absolute;
    right: 10px;
}
#navItem button{
    
    background-color: transparent;
    color: white;
    margin: 20px 5px 0px ;
    border: none;
    font-size: large;
    cursor: pointer;
}
